<div class="jumbotron">
 <div class="container center">
   <header id="header center" class="center"><h1>This is a home page</h1><%= image_tag 'smile3.png', size: '80' %></header>
    anything here
    <%= link_to 'About', about_path %>
    <%= link_to 'Index', pages_path %>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
  </div>
</div>
</div>