<div class="jumbotron">
 <div>
   <header id="header center" class="center"><h1>This is a home page</h1><%= image_tag 'smile3.png', size: '80' %></header>
	 	<p><a class="btn btn-primary btn-lg btn-xlarge" href="#" role="button">Sign up</a></p>
    <%= link_to 'Index', pages_path %>
  </div>
</div>
