@import "bootstrap-sprockets";
@import "bootstrap";

.progress-bar{
  -webkit-transition: width 0.0001s ease;
  -moz-transition: width 0.0001s ease;
  -ms-transition: width 0.0001s ease;
  -o-transition: width 0.0001s ease;
  transition: width 0.0001s ease;
}

.center{
  text-align: center;
}