<% flash.each do |name,msg| %>
  <% if name.eql?("notice") %>
    <p class="alert alert-success"><%= msg %></p>
  <% elsif name.eql?("not_found") %>
    <p class="alert alert-danger"><%= msg %></p>
  <% end %>
<% end %>